---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostListFrag from "../../../components/blog/PostListFrag.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with <code style="font-size: 120%;">{tag}</code></p>
    <ul>
        {
            posts.map((post) => (
                <PostListFrag
                    url={`/blog/${post.slug}/`}
                    title={post.data.title}
                    pubDate={post.data.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>
