---
import Box from "@cmp/Box.astro";
import BaseLayout from "../BaseLayout.astro";
import FormattedDate from "@cmp/DateTime.astro";
import Warning from "@cmp/Warning.astro";

const { frontmatter, slug } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <i class="fa-solid fa-arrow-left back"></i>
    <a href="/blog" style="margin-bottom: 10px;">more blog posts</a>
    <div id="header-info">
        <h2>{frontmatter.title}</h2>
        <span class="date"
            >Published <FormattedDate date={frontmatter.pubDate} /></span
        >
    </div>

    <blockquote><em>{frontmatter.description}</em></blockquote>

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag highlight">
                    <a href={`/blog/t/${tag}`}>#{tag}</a>
                </p>
            ))
        }
    </div>

    {
        () => {
            if (frontmatter.cw) {
                return <Warning>{frontmatter.cw}</Warning>;
            }
        }
    }

    <slot />

    <span class="center">💜</span>

    <Box>
        Enjoyed this post? Want to comment? <br />
        <a
            href=`mailto:blog+${slug}@laker.tech?subject=A%20reply%20to%20${frontmatter.title}`
        >
            Email me :)
        </a> or you could <a href="/blog">read some more posts</a>
    </Box>
</BaseLayout>

<style>
    .back {
        padding-bottom: 0.8em;
    }

    #header-info {
        display: flex;
        vertical-align: middle;
        gap: 1em;
    }
    #header-info > span.date {
        margin-top: 5px;
    }
    #header-info > h2 {
        margin-top: 0;
    }

    .tags {
        margin: 0.3em 0;
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        border-radius: 3em 2em;
        padding: 5px 14px;
    }
    .tag:not(:last-child) {
        margin-right: 1em;
    }
    .tag > a {
        color: var(--text-colour-rev);
    }
</style>
