---
import BaseLayout from "../BaseLayout.astro";
import FormattedDate from "@cmp/FormattedDate.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div id="header-info">
        <h2>{frontmatter.title}</h2>
        <span class="date"><FormattedDate date={frontmatter.pubDate} /></span>
    </div>

    <blockquote><em>{frontmatter.description}</em></blockquote>

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag highlight">
                    <a href={`/blog/t/${tag}`}>#{tag}</a>
                </p>
            ))
        }
    </div>

    <slot />
</BaseLayout>

<style>
    #header-info {
        display: flex;
        vertical-align: middle;
        gap: 1em;
    }
    #header-info>span.date {
        margin-top: 5px;
    }
    #header-info>h2 {
        margin-top: 0;
    }
    .tags {
        margin: 0.3em 0;
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        border-radius: 30% 11%;
        padding: 5px 12px;
        
    }
    .tag:not(:last-child) {
        margin-right: 1em;
    }
    .tag > a {
        color: var(--text-colour-rev);
    }
</style>
