---
import { siteConfig as sc } from "@lib/siteConfig";
---

<div class="h-card">
    <p>
        <span class="p-name">{sc.author.name}</span>
        (<span class="p-pronouns">she/her</span>)
    </p>
    <img
        class="u-photo"
        src={sc.author.photo.url}
        alt={sc.author.photo.alt}
        width={sc.author.photo.size.w}
        height={sc.author.photo.size.h}
    />
    <p class="p-note nd">{sc.author.line}</p>
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa-solid fa-globe"></i>
            🇬🇧 England, UK
        </li>
        <li>
            <i class="fa-li fa-solid fa-truck-fast"></i>
            Links:
            <ul>
                <li>
                    <a href={sc.author.link} class="u-url" rel="me">
                        laker.tech (here)
                    </a>
                </li>
                <li>
                    <i class="fa-li fa-solid fa-bread"></i>
                    <a href="//laker.lol" rel="me">laker.lol</a>
                </li>
                <li>
                    <i class="fa-li fa-solid fa-bread"></i>
                    <a href="//github.com/lxjv" rel="me">GitHub</a>
                </li>
                <li>
                    <i class="fa-li fa-solid fa-bread"></i>
                    <a href="//social.lol/@la" rel="me">@la@social.lol</a>
                </li>
            </ul>
        </li>
        <li>
            <i class="fa-li fa-solid fa-at"></i>
            <a href=`mailto:${sc.author.email}` class="u-email">{sc.author.email}</a>
        </li>
    </ul>
</div>

<style>
    div {
        max-width: fit-content;
        padding: 1em 2em;
        margin: 0 1em;

        background-color: var(--ctp-mocha-mantle);

        border: 1px var(--accent) solid;
        border-radius: 1em 3em;
    }

    p {
        margin: 10px 0;
        text-align: center;
    }

    img {
        border: 0;
        display: block; /* Make the image a block element */
        margin: 0 auto;
    }
    .u-url::after {
        content: null;
    }
</style>
