---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
const description = "uwu test";

const whomst = {
    nameFirst: "Laker",
    location: "UK",
    occupation: "Student",
    hobbies: ["meowing", "nyaa~"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
    <h2>{pageTitle}</h2>
    <p>i love websites</p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {whomst.nameFirst}.</li>
        <li>
            I live in {whomst.location} and I'm a {whomst.occupation}.
        </li>
        {
            whomst.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {whomst.hobbies[0]} and{" "}
                    {whomst.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
