---
const { pageTitle, description } = Astro.props;
import { siteConfig as sc } from "@lib/siteConfig";
---

<head>
    <!-- hello fellow nerd :) -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle + " ~ " || ""}{sc.meta.title}</title>

    <meta name="description" content={description || sc.meta.description} />

    <!-- favicons -->
    <link rel="icon" href="https://fav.farm/%F0%9F%92%9C" sizes="32x32" />
    <link
        rel="icon"
        href="https://fav.farm/%F0%9F%92%9C"
        type="image/svg+xml"
    />

    <!-- opengraph -->
    <meta property="og:site_name" content={sc.meta.title} />
    <meta
        property="og:title"
        content={pageTitle + " ~ " + sc.meta.title || sc.meta.title}
    />
    <meta
        property="og:description"
        content={description || sc.meta.description}
    />
    <meta property="description" content={description || sc.meta.description} />
    <meta
        property="og:url"
        content=`https://${sc.meta.domain}${Astro.url.pathname}`
    />

    <meta property="og:image" content={sc.author.photo.url} />
    <meta property="fediverse:creator" content={sc.meta.opengraph.fediverse} />
    <meta property="og:image:secure_url" content="{{author.photo}}" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />

    <!-- feed autodiscovery -->
    <link
        rel="alternate"
        type="application/rss+xml"
        title="Laker Turner (RSS)"
        href="/feed.xml"
    />
    <link
        rel="alternate"
        type="application/atom+xml"
        title="Laker Turner (Atom)"
        href="/atom.xml"
    />
    <link
        rel="alternate"
        type="application/json"
        title="Laker Turner (JSON)"
        href="/feed.json"
    />

    <!-- webmentions -->
    <link rel="webmention" href="https://webmention.io/laker.tech/webmention" />

    <!-- indielogin -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

    <!-- auth stuff -->
    <link rel="me" href="mailto:la@laker.gay" />
    <link href="https://github.com/lxjv" rel="me" />
    <link rel="pgpkey" href="/.well-known/pgp" />
    <link rel="openid.delegate" href="https://laker.tech/" />
    <link rel="openid2.provider" href="https://openid.indieauth.com/openid" />

    <!-- style -->
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#040404" />

    <!-- font awesome -->
    <link
        href="https://cdn.laker.tech/fa/css/fontawesome.css"
        rel="stylesheet"
    />
    <link href="https://cdn.laker.tech/fa/css/brands.css" rel="stylesheet" />
    <link href="https://cdn.laker.tech/fa/css/solid.css" rel="stylesheet" />
</head>
