---
import FormattedDate from "@cmp/FormattedDate.astro";
import PageLayout from "@lay/PageLayout.astro";
import { getCollection } from "astro:content";
import { sortProps } from "@lib/sortProps";

const projects = getCollection("projects");

const sortedProjects = sortProps(
    projects,
    (project:any) => project.data.pubDate,
    true // or false for ascending order
);

const pageTitle = "Projects";
const description =
    "Things I've made... i don't have anything funny to say here";
---

<PageLayout pageTitle={pageTitle} description={description}>
    <ul>
        {
            sortedProjects.map((project) => (
                <li>
                    <FormattedDate date={project.data.pubDate} /> —
                    <>
                        <a href={`/projects/${project.slug}`}>{project.data.title}</a>
                        <br />
                    </>
                    {project.data.description}
                </li>
            ))
        }
    </ul>
</PageLayout>
