---
import BaseLayout from "./BaseLayout.astro";
const { pageTitle, description, back, icon } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
    <h2>
        {
        () => {
            if (icon) {
                    return (
                    <i
                        class={icon}
                        style="margin-right: 2px;"
                    />
                    );
            }
            return null;
        }
    }
        {pageTitle}
    </h2>

    {
        () => {
            if (back) {
                    return (
                    <i
                        class="fa-solid fa-arrow-left"
                        style="margin-right: 2px;"
                    />
                    <a href={back}>
                       back to {back}
                    </a>
                );
            }
            return null;
        }
    }

    <blockquote>{description}</blockquote>
    <slot />
</BaseLayout>
