---
import BaseLayout from "./BaseLayout.astro";
import Warning from "@cmp/Warning.astro";
import Back from "@cmp/links/Back.astro";
import DateTime from "@cmp/DateTime.astro";
const { pageTitle, description, back, icon, uc, lastUpdated } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} description={description}>
    <h2>
        {
            () => {
                if (icon) {
                    return <i class={icon} style="margin-right: 5px;" />;
                }
                return null;
            }
        }
        {pageTitle}
        {
            () => {
                if (lastUpdated) {
                    return <small>Last updated: <DateTime date={lastUpdated} /></small>;
                }
                return null;
            }
        }
    </h2>

    {
        () => {
            if (back) {
                return <Back back={back} />;
            }
            return null;
        }
    }

    <blockquote>{description}</blockquote>

    {
        () => {
            if (uc) {
                return (
                    <Warning>
                        This page is under construction, don't lose your towel!
                    </Warning>
                );
            }
        }
    }

    <slot />
</BaseLayout>
