---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@cmp/FormattedDate.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <i class="fa-solid fa-arrow-left" style="margin-right: 2px;"></i>
    <a href="/projects">back to projects </a>
    <div id="header-info">
        <h2>{frontmatter.title}</h2>
        <span class="date"><FormattedDate date={frontmatter.pubDate} /></span>
    </div>

    <blockquote><em>{frontmatter.description}</em></blockquote>

    <div class="tech">
        {frontmatter.tech.map((tag: string) => <span>#{tag}</span>)}
    </div>

    <slot />
</BaseLayout>

<style>
    #header-info {
        margin: 0.5em 0 0 0;
        display: flex;
        vertical-align: middle;
    }
    #header-info > span.date {
        margin-top: 5px;
        margin-left: 10px;
    }
    #header-info > h2 {
        margin-top: 0;
    }

    .tech {
        border-radius: 30% 11%;
        padding: 5px 12px;
    }
</style>
